main {
    height: 85vh;
    background-color: #b7d3d8;
    padding: 1rem 0;
    overflow-y: scroll;
}

footer {
    color: #fff;
    padding: 1rem 0;
    font-size: 0.75rem;
    text-align: center;
}